body {
    background: hsl(217, 8%, 46%, 0.1);
    font-family: Verdana;
}

form {
    width: 50%;
    padding: 2rem;
}

textarea {
    resize: none;
}

img {
    width: 20rem;
    height: 20rem;
}